.productInfoWrapper {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    color: hsl(358, 67%, 58%);
}

.description {
    font-style: italic;
}

.price {
    font-size: 25px;
}

.addToCartButton {
    border-radius: 20px;
    border: none;
    background: linear-gradient(#DA0047, #7E002C);
    color: #ffffff;
    padding: 10px 20px;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 200px;
    margin-top: 20px;
    transition: all 0.5s;
}
