.cartTotalWrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    float: right;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    gap: 100px;
    text-transform: uppercase;
    margin-top: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #47494c;
}

.checkoutBtn {
    padding: 10px 40px;
    text-transform: uppercase;
    background: linear-gradient(#FB2740, #F3230F);
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    margin: 40px 0;
    float: right;
    border: none;
    border-radius: 30px;
}