.cartTotalWrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    float: right;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    gap: 100px;
    text-transform: uppercase;
}