.triggerButton {
    padding: 10px 40px;
    text-transform: uppercase;
    background: linear-gradient(#FB2740, #F3230F);
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    float: right;
    border: none;
    border-radius: 30px;
    text-decoration: none;
}