.headerProfileWrapper {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
}

.helloMessage {
    color: #EB221C;
    font-size: 11px;
    text-transform: uppercase;
}


.loginLink {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}