.navItem {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    color: #ffffff;
    z-index: 1;
    background: #151718;
    padding: 0 20px;
    text-decoration: none;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    color: #ffffff;
}