.navItem {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #F8252C;
}